<%= render 'layout' %>
    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
          <div class="row">
            <% @articles.each do |article| %>
            <div class="col-xs-10 col-lg-10">
              <h2><%= article.title %></h2>
              <p><%= generate_abstract_tag(article.text) %></p>
              <p>
                <%= link_to "查看详情 »" , article_path(article),{class: "btn btn-default" , role: "button"} %>
                <% if @manage %>
                <%= link_to '删除', article_path(article),{method: :delete, class: "btn btn-default" , role: "button",data: { confirm: '删除后不可恢复，确认需要删除吗？' } }%>
                <% end %>
              </p>
            </div><!--/.col-xs-10.col-lg-10-->
            <% end %>           
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
      </div><!--/row-->
    </div><!--/.container-->


