<div id="home_index">
  <%=  image_tag("home/home4.jpg", alt: "东莞市唯真金属材料压延有限公司logo",class: "top_image") %>  

  <div id="products">
    <div class="width75">
      <div class="title">产品</div>
      <% @products.each do |product|%>
        <div class="item">
          <%= link_to image_tag("home/product_pic4.jpg", alt:  product.name), product_path(product) %>
          <div class="content">
            <h2><%= product.name%></h2>
            <h3><%= generate_abstract_tag(product.profile,85) %></h3>
            <p>
              <%= link_to '了解更多 >', product_path(product) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="clear">
    </div>
  </div>


  <div id="cao">
    <div id="news">   
      <div class="width75">   
        <div class="title">新闻</div>              
          <% @articles.each do |article|%>
            <div class="item">
              <div class="content">
                <h2><%= article.title%></h2>
                <h3><%= generate_abstract_tag(article.text,60) %></h3>
                <p><%= link_to '了解更多 >', article_path(article) %></p>
                </div>
              </div>
          <% end %>


        </div>
      <div class="clear"></div>
    </div>
  </div>


</div>
