<%= render 'layout' %>
<div id="products_index">
  <div id="products">
    <div class="width75">
      <% @products.each_with_index do |product,index|%>
          <div class="item">
            <%= link_to raw("<img alt='#{product.name}' src=#{@images[index]}>"), product_path(product) %>
            <div class="content">
              <h2><%= product.name%></h2>
              <h3><%= generate_abstract_tag(product.profile,85) %></h3>
              <p>
                <%= link_to '了解更多 > ', product_path(product) %>
                <% if @manage %>
                  | <%= link_to '删除', product_path(product),{method: :delete , role: "button",data: { confirm: '删除后不可恢复，确认需要删除吗？' } }%>
                <% end %>
              </p>
            </div>
          </div>
      <% end %>
    </div>
    <div class="clear">
    </div>
  </div>
</div>